# Database
DATABASE_URL="postgresql://user:password@localhost:5432/dbname?schema=public"

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://qptmjfucihwadducxbtx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFwdG1qZnVjaWh3YWRkdWN4YnR4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU2NTkzMDEsImV4cCI6MjA5MTIzNTMwMX0.PwmIYKlpSTHRsVX-Q0c4QvGk87aAhyV4tun0wrwA_Nk
SUPABASE_SERVICE_ROLE_KEY=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXT_PUBLIC_APP_URL=
